body {
	width: 840px;
	height: auto;
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

p {
	margin: 0px;
	padding: 20px 0px;
	font-weight:400;
	text-align: right;
}

table {
	border: 3px solid #000000;
	margin: 0px 0px;
	font-weight:300;
	text-align: left;
	border-collapse: collapse;
}

table td, table th {
	padding: 8px;
	border: 1px solid #000000;
}

table td:last-child{
	text-align: right;
}

table tbody td {
	font-size: 14px;
}

table thead {
	background: #CFCFCF;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	border-bottom: 3px solid #000000;
}

table thead th {
	font-size: 15px;
	font-weight: 500;
	color: #000000;
	text-align: left;
}